<div id="blog_entry_comments">
  <div class="fb-comments" data-href="http://entiati.vn<%=blog_entry_permalink(@blog_entry)%>" data-numposts="5" data-colorscheme="light" data-version="v2.3" data-width="100%"></div>
</div>